<section class="about" id="about">
  <h2 class="title-h2">
    <span class="about_container container">Hakkımızda</span>
  </h2>
  <div class="about_container container">
    <div class="about_inner">
      <div class="about_inner_left">
        <h3 class="about_inner_left_title">
          Biz, sıradan içeriğe karşı bir manifestoyuz.
        </h3>
        <img
          src="./img/about/main_about.jpg"
          alt="Biz, sıradan içeriğe karşı bir manifestoyuz."
        />
      </div>
      <div class="about_inner_right">
        <div class="about_inner_right_wrapper">
          <p class="about_inner_right_title-text">
            fbkuhuduu.xyz, yaratıcı içerik üreticilerini desteklemek ve özgün,
            estetik görseller yaratmalarına yardımcı olmak için kuruldu. Sadece
            görselleri kiralamakla kalmaz, aynı zamanda etkili içerikler
            üretmenizi sağlayacak eşsiz deneyimler sunarız.
            <span
              >Her parça, Instagram dünyasında fark yaratmanıza yardımcı olmak
              için özel olarak seçilir. Kiralayabileceğiniz her şey, her
              platformda göz alıcı görseller oluşturmanız için tasarlandı.</span
            >
          </p>
          <p class="about_inner_right_text">
            Amacımız, sürdürülebilir tarzı dijital dünyayla buluşturmak ve tüm
            yaratıcıların daha fazla içeriğe ulaşmalarına olanak tanımaktır.
            Düşünmeden geçemeyeceğiniz tasarımlar ve aksesuarlar bizde!
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
