<section class="contacts" id="contacts">
  <h2 class="title-h2">
    <span class="contacts_container container">Hakkımızda</span>
  </h2>
  <div class="contacts_container container">
    <div class="contacts_inner">
      <div class="contacts_inner_left">
        <h3 class="contacts_inner_left_title">
          Bizimle kolayca iletişime geçebilirsiniz:
        </h3>
        <img
          src="./img/contacts/main_contacts.jpg"
          alt="Biz, sıradan içeriğe karşı bir manifestoyuz."
        />
      </div>
      <div class="contacts_inner_right">
        <div class="contacts_inner_right_wrapper">
          <ul class="contacts_inner_right_list">
            <li class="contacts_inner_right_list_item">
              Telefon: <span>+90 530 123 45 67</span>
            </li>
            <li class="contacts_inner_right_list_item">
              E-posta:
              <span
                ><a href="mailto:info@fbkuhuduu.xyz"
                  >info@fbkuhuduu.xyz</a
                ></span
              >
            </li>
            <li class="contacts_inner_right_list_item">
              Adres: <span>İstanbul, Türkiye</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
