<section class="faq section" id="faq">
  <h2 class="title-h2">
    <span class="about_container container">SSS</span>
  </h2>
  <div class="faq_container container">
    <div class="faq_inner">
      <div class="faq_inner_item">
        <div class="faq_inner_item_title-box faq_inner_item_btn">
          <h3 class="faq_inner_item_title">Kiralama süresi nedir?</h3>
          <img
            class="faq_inner_item_btn_down"
            src="./img/faq/arrrow_down.png"
            alt="arrrow down"
          />
          <img
            class="faq_inner_item_btn_up"
            src="./img/faq/arrrow_up.png"
            alt="arrrow up"
          />
        </div>
        <div class="faq_inner_item_text-box">
          <p class="faq_inner_item_text-box_text">
            Kiralama süreleri, ihtiyacınıza göre esnek bir şekilde
            belirlenebilir. İster 1 günlük, ister 3 günlük ya da haftalık
            kiralama yapabilirsiniz. Genellikle, Instagram için kısa süreli
            çekimler 1 gün yeterli olur, ancak daha uzun projeler için 3 gün
            veya 1 hafta süreli kiralama seçenekleri daha uygun olabilir. Tüm
            paketlerimizde, kiralama süresi boyunca istediğiniz kadar içerik
            üretebilirsiniz. Ayrıca, özel durumlar için kişiye özel kiralama
            süreleri de düzenleyebiliriz.
          </p>
        </div>
      </div>
      <div class="faq_inner_item">
        <div class="faq_inner_item_title-box faq_inner_item_btn">
          <h3 class="faq_inner_item_title">Teslimat nasıl yapılır?</h3>
          <img
            class="faq_inner_item_btn_down"
            src="./img/faq/arrrow_down.png"
            alt="arrrow down"
          />
          <img
            class="faq_inner_item_btn_up"
            src="./img/faq/arrrow_up.png"
            alt="arrrow up"
          />
        </div>
        <div class="faq_inner_item_text-box">
          <p class="faq_inner_item_text-box_text">
            Teslimat İstanbul içi adreslere yapılmaktadır. Çekimlerinizi
            yapmanız için kiraladığınız ürünler, belirtilen tarihte ve saatte
            adresinize teslim edilir. Ürünlerinizi almak için belirli teslimat
            noktalarından da faydalanabilirsiniz. Teslimat sürecinde ürünlerin
            güvenli şekilde taşınmasına özen gösteriyoruz. Ayrıca, teslimat
            öncesinde ürünlerin durumunu kontrol ederek sorunsuz teslimat
            sağlıyoruz.
          </p>
        </div>
      </div>
      <div class="faq_inner_item">
        <div class="faq_inner_item_title-box faq_inner_item_btn">
          <h3 class="faq_inner_item_title">Ürünler temiz mi?</h3>
          <img
            class="faq_inner_item_btn_down"
            src="./img/faq/arrrow_down.png"
            alt="arrrow down"
          />
          <img
            class="faq_inner_item_btn_up"
            src="./img/faq/arrrow_up.png"
            alt="arrrow up"
          />
        </div>
        <div class="faq_inner_item_text-box">
          <p class="faq_inner_item_text-box_text">
            Evet, tüm kiralanan ürünler temizlenip dezenfekte edilmiştir. Sağlık
            ve hijyen bizim için çok önemlidir. Mobilyalar, dekorasyon ürünleri
            ve yiyecek aksesuarları her kiralama öncesi titizlikle kontrol
            edilir. Kiralama süresi sona erdiğinde ürünlerin temizliği yine
            yapılır. Bizimle çalışırken hijyen konusunda hiçbir endişeniz
            olmasın.
          </p>
        </div>
      </div>
      <div class="faq_inner_item">
        <div class="faq_inner_item_title-box faq_inner_item_btn">
          <h3 class="faq_inner_item_title">Hasar olursa ne olur?</h3>
          <img
            class="faq_inner_item_btn_down"
            src="./img/faq/arrrow_down.png"
            alt="arrrow down"
          />
          <img
            class="faq_inner_item_btn_up"
            src="./img/faq/arrrow_up.png"
            alt="arrrow up"
          />
        </div>
        <div class="faq_inner_item_text-box">
          <p class="faq_inner_item_text-box_text">
            Küçük hasarlar için endişelenmenize gerek yok. Ancak, büyük hasar
            veya kayıplar durumunda, ürünün değerine göre ek ücret talep
            edebiliriz. Ürünleri kiralarken kullanım talimatlarına dikkat
            etmeniz, ekstra ücretlerden kaçınmanıza yardımcı olacaktır.
            Kiraladığınız ürünün herhangi bir şekilde zarar görmemesi için
            lütfen dikkatli kullanın. İade sırasında ürünlerin sağlam olduğundan
            emin olun.
          </p>
        </div>
      </div>
      <div class="faq_inner_item">
        <div class="faq_inner_item_title-box faq_inner_item_btn">
          <h3 class="faq_inner_item_title">
            Rezervasyon ne kadar önce yapılmalı?
          </h3>
          <img
            class="faq_inner_item_btn_down"
            src="./img/faq/arrrow_down.png"
            alt="arrrow down"
          />
          <img
            class="faq_inner_item_btn_up"
            src="./img/faq/arrrow_up.png"
            alt="arrrow up"
          />
        </div>
        <div class="faq_inner_item_text-box">
          <p class="faq_inner_item_text-box_text">
            Rezervasyon yapmadan önce, özellikle hafta sonları yoğunluk
            yaşanabileceği için en az 3 gün öncesinden rezervasyon yapmanızı
            öneririz. Ayrıca, istediğiniz ürünlerin müsaitliğini kontrol etmek
            için erken rezervasyon yapmak, sizin için daha uygun olacaktır.
            Rezervasyonları online platformumuzdan kolayca yapabilirsiniz. Acele
            bir durumda, son dakika kiralama talepleri için bizimle iletişime
            geçebilirsiniz.
          </p>
        </div>
      </div>
      <div class="faq_inner_item">
        <div class="faq_inner_item_title-box faq_inner_item_btn">
          <h3 class="faq_inner_item_title">
            Ürünleri kiraladıktan sonra nasıl geri alırım?
          </h3>
          <img
            class="faq_inner_item_btn_down"
            src="./img/faq/arrrow_down.png"
            alt="arrrow down"
          />
          <img
            class="faq_inner_item_btn_up"
            src="./img/faq/arrrow_up.png"
            alt="arrrow up"
          />
        </div>
        <div class="faq_inner_item_text-box">
          <p class="faq_inner_item_text-box_text">
            Kiralanan ürünleri belirtilen tarihte ve saatte geri alıyoruz.
            Teslimat sırasında belirlediğiniz alım noktalarından veya
            adresinizden ürünler geri alınır. İade işlemi, teslimat işlemiyle
            aynı özenle yapılır. Geri alım işlemi sırasında ürünler titizlikle
            kontrol edilerek iade alınır. Eğer bir ürün eksik veya hasar
            görmüşse, durumu incelemek için bizimle iletişime geçebilirsiniz.
          </p>
        </div>
      </div>
      <div class="faq_inner_item">
        <div class="faq_inner_item_title-box faq_inner_item_btn">
          <h3 class="faq_inner_item_title">
            Kiralama süresi bitiminde ürünü iade etmem için ne yapmalıyım?
          </h3>
          <img
            class="faq_inner_item_btn_down"
            src="./img/faq/arrrow_down.png"
            alt="arrrow down"
          />
          <img
            class="faq_inner_item_btn_up"
            src="./img/faq/arrrow_up.png"
            alt="arrrow up"
          />
        </div>
        <div class="faq_inner_item_text-box">
          <p class="faq_inner_item_text-box_text">
            Kiraladığınız ürünleri iade etmek oldukça kolay. Teslimat sırasında
            belirtilen alım noktasına geri teslim etmeniz gerekecek. Ürünleri
            düzgün bir şekilde paketleyerek teslimat noktasına getirebilirsiniz.
            Eğer zamanında iade edemezseniz, ek ücret talep edilebilir. Iade
            işlemleri hızlı ve sorunsuz şekilde yapılır.
          </p>
        </div>
      </div>
      <div class="faq_inner_item">
        <div class="faq_inner_item_title-box faq_inner_item_btn">
          <h3 class="faq_inner_item_title">Ürünleri nerede kullanabilirim?</h3>
          <img
            class="faq_inner_item_btn_down"
            src="./img/faq/arrrow_down.png"
            alt="arrrow down"
          />
          <img
            class="faq_inner_item_btn_up"
            src="./img/faq/arrrow_up.png"
            alt="arrrow up"
          />
        </div>
        <div class="faq_inner_item_text-box">
          <p class="faq_inner_item_text-box_text">
            Kiraladığınız ürünler, Instagram veya TikTok çekimleriniz, blog
            içerikleri, özel etkinlikler, yemek çekimleri ve diğer yaratıcı
            projeler için kullanılabilir. Ürünlerimizin çoğu sosyal medya
            platformlarında harika görseller oluşturmanızı sağlayacak şekilde
            tasarlanmıştır. Düğün, parti veya etkinlik çekimleri gibi farklı
            projelerde de kullanılabilirler.
          </p>
        </div>
      </div>
      <div class="faq_inner_item">
        <div class="faq_inner_item_title-box faq_inner_item_btn">
          <h3 class="faq_inner_item_title">
            Kiraladığınız ürünler hakkında nasıl bilgi alabilirim?
          </h3>
          <img
            class="faq_inner_item_btn_down"
            src="./img/faq/arrrow_down.png"
            alt="arrrow down"
          />
          <img
            class="faq_inner_item_btn_up"
            src="./img/faq/arrrow_up.png"
            alt="arrrow up"
          />
        </div>
        <div class="faq_inner_item_text-box">
          <p class="faq_inner_item_text-box_text">
            Web sitemizdeki her ürünün açıklamalarını ve görsellerini
            bulabilirsiniz. Ayrıca, kiralamadan önce ürünlerle ilgili daha fazla
            bilgi almak isterseniz, bizimle iletişime geçebilirsiniz. Müşteri
            hizmetlerimiz, her türlü soruya cevap verecek şekilde hazır
            bulunmaktadır. Ürünlerin boyutları, kullanım talimatları ve
            özellikleri hakkında detaylı bilgiye kolayca erişebilirsiniz.
          </p>
        </div>
      </div>
      <div class="faq_inner_item">
        <div class="faq_inner_item_title-box faq_inner_item_btn">
          <h3 class="faq_inner_item_title">Kiralama işlemi nasıl yapılır?</h3>
          <img
            class="faq_inner_item_btn_down"
            src="./img/faq/arrrow_down.png"
            alt="arrrow down"
          />
          <img
            class="faq_inner_item_btn_up"
            src="./img/faq/arrrow_up.png"
            alt="arrrow up"
          />
        </div>
        <div class="faq_inner_item_text-box">
          <p class="faq_inner_item_text-box_text">
            Kiralama işlemi, çok basit bir şekilde yapılır. İlk olarak web
            sitemizdeki ürünleri gözden geçirin, ardından kiralamak istediğiniz
            ürünleri sepetinize ekleyin. Ödeme adımına geçmeden önce, teslimat
            bilgilerinizi girmeniz gerekecek. Ödemeyi tamamladıktan sonra,
            ürünleriniz belirttiğiniz tarihte teslim edilir.
          </p>
        </div>
      </div>
      <div class="faq_inner_item">
        <div class="faq_inner_item_title-box faq_inner_item_btn">
          <h3 class="faq_inner_item_title">
            En popüler kiralık ürünler nelerdir?
          </h3>
          <img
            class="faq_inner_item_btn_down"
            src="./img/faq/arrrow_down.png"
            alt="arrrow down"
          />
          <img
            class="faq_inner_item_btn_up"
            src="./img/faq/arrrow_up.png"
            alt="arrrow up"
          />
        </div>
        <div class="faq_inner_item_text-box">
          <p class="faq_inner_item_text-box_text">
            En popüler ürünlerimiz arasında renkli koltuklar, sahte tatlılar ve
            yiyecekler, vintage tabak takımları ve estetik arka planlar yer
            alıyor. Bu ürünler, özellikle Instagram içeriklerinde büyük ilgi
            görüyor. Takipçilerinizin ilgisini çekmek için ideal seçimlerdir.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
