<section class="features" id="feature">
  <h2 class="title-h2">
    <span class="features_container container">Neler Kiralayabilirsiniz?</span>
  </h2>
  <div class="features_container container">
    <div class="features_inner">
      <div class="features_inner_item">
        <p class="features_inner_item_bold">
          İçeriklerinizi sıradanlıktan kurtarmak için ihtiyacınız olan her şey
          bizde.
        </p>
        <p class="features_inner_item_text">
          Özel olarak seçtiğimiz mobilyalar, aksesuarlar, yiyecek dekorları,
          arka planlar ve daha fazlasıyla sadece birkaç tıkla Instagram için
          harika içerikler yaratabilirsiniz.
        </p>
      </div>
      <div class="features_inner_item">
        <img src="./img/features/main_feature.png" alt="main feature" />
      </div>
      <div class="features_inner_item">
        <ul class="features_inner_item_list">
          <li class="features_inner_item_list_item">
            Renkli Koltuklar & Puflar: Şıklığı ve rahatlığı bir arada sunan
            mobilyalar.
          </li>
          <li class="features_inner_item_list_item">
            Sahte Yiyecekler: Gerçek gibi görünen pasta, tatlılar, içecekler ve
            daha fazlası.
          </li>
          <li class="features_inner_item_list_item">
            Vintage Fincan Takımları: Estetik fotoğraflar için mükemmel.
          </li>
          <li class="features_inner_item_list_item">
            Arka Planlar: Çeşitli konseptlere uygun arka plan panoları.
          </li>
          <li class="features_inner_item_list_item">
            Doğal Dekorlar & Çiçekler: Doğal dokunuşlarla içeriklerinizi
            güzelleştirin.
          </li>
          <li class="features_inner_item_list_item">
            Özel Setup Kutuları: Özel etkinlikler, doğum günü, brunch veya yaz
            temalı setup’lar.
          </li>
        </ul>
      </div>
    </div>
    <p class="features_desc">
      Kiraladığınız her parça, Instagram’daki fotoğraflarınızın kalitesini
      artırmak için tasarlanmıştır. Konseptinize uygun seçim yaparak harika
      içerikler oluşturun!
    </p>
  </div>
</section>
