<section class="hero" id="hero">
  <div class="container hero_container">
    <div class="hero_content">
      <h1 class="hero_title">İçeriğin Parlasın: Fotoğraf İçin Kirala</h1>
      <p class="hero_text">
        Instagram’da fark yaratmak hiç bu kadar kolay olmamıştı. Renkli köşeler,
        şık mobilyalar ve estetik yiyecekler sadece bir tık uzağınızda! İster
        bir influencer, ister küçük işletme sahibi olun, kiralayabileceğiniz
        mükemmel içeriklerle her zaman ilgi odağı olabilirsiniz. Şimdi hemen
        keşfedin!
      </p>
    </div>
  </div>
</section>
