<section class="reviews section" id="reviews">
  <h2 class="title-h2">
    <span class="about_container container">Müşteri Yorumları</span>
  </h2>
  <div class="reviews_container container">
    <div class="reviews_inner">
      <div class="reviews_inner_itembox">
        <img src="./img/reviews/1.png" alt="1" />
        <article class="reviews_inner_item">
          <h3 class="reviews_inner_item_author">
            – Zeynep, İnstagram İçerik Üreticisi
          </h3>
          <blockquote class="reviews_inner_item_desc">
            "Detaylar harika. Her biri çok zarif ve profesyonelce tasarlanmış.
            Çekim yapmadan önce bazı mobilyaları kiralamıştım ve sonuç
            beklediğimin çok ötesindeydi. Özellikle ürünler çok şık ve
            fotoğrafçılığa uygun.”
          </blockquote>
        </article>
        <article class="reviews_inner_item">
          <h3 class="reviews_inner_item_author">
            – Gökhan, Kendi Markasının Sahibi
          </h3>
          <blockquote class="reviews_inner_item_desc">
            “Bu hizmet gerçekten işimi kolaylaştırdı. Her gün yeni bir içerik
            yaratabiliyorum! Markamı tanıtmak için bir hafta boyunca kiraladım.
            Ürünler her zaman zamanında teslim edildi ve geri alındı. Çok
            profesyonel bir hizmet!”
          </blockquote>
        </article>
        <article class="reviews_inner_item">
          <h3 class="reviews_inner_item_author">
            – Yasemin, Freelance İçerik Üreticisi
          </h3>
          <blockquote class="reviews_inner_item_desc">
            "Birçok farklı konsepte uygun ürünleri bir arada bulmak çok
            kolay.fbkuhuduu'nun sağladığı mobilyalar ve aksesuarlar sayesinde
            içeriklerim artık daha profesyonel. Hem şık hem de kullanışlı
            ürünler!”
          </blockquote>
        </article>
        <article class="reviews_inner_item">
          <h3 class="reviews_inner_item_author">– Şule, Ürün Fotoğrafçısı</h3>
          <blockquote class="reviews_inner_item_desc">
            "Her şey sorunsuz, hem ekonomik hem de kaliteli. Kiralama sürecinde
            her şey çok hızlı ve kolaydı. fbkuhuduu ile çalışmak, profesyonel
            bir hizmet almak gibiydi. Fotoğraflarım mükemmel oldu.”
          </blockquote>
        </article>
      </div>
      <div class="reviews_inner_itembox">
        <article class="reviews_inner_item">
          <h3 class="reviews_inner_item_author">
            – Derya, Moda İçerik Üreticisi
          </h3>
          <blockquote class="reviews_inner_item_desc">
            “Instagram'da fark yaratmak için aradığım her şey burada. Sade ama
            şık bir konsept oluşturmak çok kolay oldu. Çekimlerim için
            fbkuhuduu'yu keşfettim ve harika bir deneyim oldu! Koltuk ve
            dekorları kiraladım, fotoğraflarım çok beğenildi. Hızlı teslimat,
            kolay rezervasyon ve mükemmel hizmet... Kesinlikle tekrar
            kiralayacağım.”
          </blockquote>
        </article>
        <article class="reviews_inner_item">
          <h3 class="reviews_inner_item_author">
            – Mert, Dijital Pazarlama Uzmanı
          </h3>
          <blockquote class="reviews_inner_item_desc">
            "Birçok ürünü denedim ve her biri harika sonuçlar verdi.
            Fotoğraflarımda yeni bir hava oluştu. Instagram için sürekli yeni
            içerik üretmeye çalışıyorum. fbkuhuduu’nun sunduğu konseptlerle her
            seferinde taze ve dikkat çekici paylaşımlar yapabiliyorum. Hem
            kaliteli hem de uygun fiyatlı!”
          </blockquote>
        </article>
        <article class="reviews_inner_item">
          <h3 class="reviews_inner_item_author">
            – Cem, Etkinlik Organizatörü
          </h3>
          <blockquote class="reviews_inner_item_desc">
            “Instagram’da takipçi kazanmak için böyle farklı ve yaratıcı
            içerikler çok etkili. Geri dönüşler harikaydı. Bir etkinlik için
            hazırladığım içeriklerde fbkuhuduu'nun ürünlerinden faydalandım.
            Özellikle sahte yiyecekler çok dikkat çekici oldu. Mükemmel sonuçlar
            elde ettim!”
          </blockquote>
        </article>
        <img src="./img/reviews/2.png" alt="2" />
      </div>
      <div class="reviews_inner_itembox">
        <img src="./img/reviews/3.png" alt="3" />
        <article class="reviews_inner_item">
          <h3 class="reviews_inner_item_author">– Ali, Pastane Sahibi</h3>
          <blockquote class="reviews_inner_item_desc">
            "Tatlıların görünüşü mükemmeldi. Hem şık hem de ilgi çekici
            ürünlerle fotoğraflarım çok daha fazla etkileşim aldı. Tatlı
            tabaklarını kiraladım ve gerçekten gerçek gibi duruyordu!
            Fotoğraflarımda harika bir etki yarattı. fbkuhuduu'nun sunduğu
            seçenekler çok geniş, her seferinde daha fazla denemek istiyorum.”
          </blockquote>
        </article>
        <article class="reviews_inner_item">
          <h3 class="reviews_inner_item_author">
            – Elif, Freelance Fotoğrafçı
          </h3>
          <blockquote class="reviews_inner_item_desc">
            "Birçok farklı konsept için kiralama yaptım. Ürünler harika! Artık
            içeriklerimde sadece bu ürünleri kullanıyorum. Kiralık mobilyalar
            sayesinde içeriklerim çok daha profesyonel göründü. Her şey oldukça
            temiz ve hijyenikti. fbkuhuduu'yu herkese öneririm!”
          </blockquote>
        </article>
        <article class="reviews_inner_item">
          <h3 class="reviews_inner_item_author">– Aslı, Lifestyle Blogger</h3>
          <blockquote class="reviews_inner_item_desc">
            "Bu siteyi gerçekten seviyorum. Her şey çok kolay, güvenilir ve
            gerçekten harika görünüyor. Her zaman içerik üretirken farklı ve
            yaratıcı öğeler kullanmaya çalışırım. fbkuhuduu ile tanıştıktan
            sonra istediğim her şeyi bulabildim. Koltuklar, aksesuarlar ve arka
            planlar mükemmel!”
          </blockquote>
        </article>
      </div>
    </div>
  </div>
</section>
