<section class="working" id="working">
  <h2 class="title-h2 working_title">
    <span class="about_container container">Nasıl Çalışıyoruz?</span>
  </h2>
  <div class="working_wrapper">
    <div class="container container_working">
      <ul class="working_list">
        <li class="working_list_item">
          <div class="working_list_item_number">1</div>
          <div class="working_list_item_inner">
            <h4 class="working_list_item_inner_title">Ürün Seçimi:</h4>
            <p class="working_list_item_inner_text">
              Web sitemiz üzerinden, Instagram’daki içerik konseptinize uygun
              ürünleri keşfedin. Mobilyalar, dekorlar, aksesuarlar, her şey bir
              arada!
            </p>
          </div>
        </li>
        <li class="working_list_item">
          <div class="working_list_item_number">2</div>
          <div class="working_list_item_inner">
            <h4 class="working_list_item_inner_title">Rezervasyon Yapın:</h4>
            <p class="working_list_item_inner_text">
              Kiralamak istediğiniz ürünleri seçin ve rezervasyonunuzu
              oluşturun. Kolayca online ödeme yapabilir ve teslimat tarihini
              belirleyebilirsiniz.
            </p>
          </div>
        </li>
        <li class="working_list_item">
          <div class="working_list_item_number">3</div>
          <div class="working_list_item_inner">
            <h4 class="working_list_item_inner_title">
              Teslimat veya Teslim Alma:
            </h4>
            <p class="working_list_item_inner_text">
              İstanbul içi adreslere teslimat yapıyoruz. Ya da kiraladığınız
              ürünleri belirlediğiniz teslimat noktasından alabilirsiniz. Kolay
              ve hızlı teslimat!
            </p>
          </div>
        </li>
        <li class="working_list_item">
          <div class="working_list_item_number">4</div>
          <div class="working_list_item_inner">
            <h4 class="working_list_item_inner_title">İçerik Üretme:</h4>
            <p class="working_list_item_inner_text">
              Ürünler teslim edildikten sonra, istediğiniz gibi düzenlemeler
              yapabilir ve harika içerikler üretmeye başlayabilirsiniz.
              Instagram için en iyi fotoğrafları çekmek için bolca zamanınız
              olacak.
            </p>
          </div>
        </li>
        <li class="working_list_item">
          <div class="working_list_item_number">5</div>
          <div class="working_list_item_inner">
            <h4 class="working_list_item_inner_title">İade:</h4>
            <p class="working_list_item_inner_text">
              Kiraladığınız ürünleri belirtilen süre sonunda iade edin. Ürünler
              hasarsız bir şekilde teslim edilirse, ekstra ücret talep edilmez.
            </p>
          </div>
        </li>
      </ul>
      <h3 class="working_second_title">
        Bizimle Instagram içerikleriniz artık daha yaratıcı ve estetik!
      </h3>
    </div>
  </div>
</section>
